:root {
    --color-black: hsl(0, 0%, 10%);
    --color-grays: hsl(0, 0%, 91%);
    --color-white: hsl(0, 0%, 100%);
    
}
  
.form .form-control {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: 1.2rem;
}
.form .form-label {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    left: 1rem;
    top: 0.75rem;
    padding: 0 0.25rem;
    color: rgb(187, 187, 187);
    background: var(--color-white);
    transition: all 0.3s ease;
}
.dark .form .form-label {
    background: var(--dark-secondary);
    color: var(--light);
}
.form .form-input {
    position: absolute;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    resize: none;
    width: 100%;
    height: auto;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid var(--color-grays);
    color: rgb(82, 82, 82);
    background: transparent;
    transition: all 0.2s ease-in-out;
    outline:none !important;
}
.dark .form .form-input {
    color: var(--light) !important;
}


.form .form-input::placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
}
.form .form-input:focus {
    outline: none;
    border: 1px solid rgb(173, 42, 42);
}
.form .form-label{
    font-size: 14px;
}
.form .form-input:focus ~ .form-label {
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.form .form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
    top: -0.75rem;
    left: 1rem;
    z-index: 9;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.form-col-2{
    display: flex;
    align-items: center;
    gap: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow:  0 0 0 30px noe inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color : white !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active{
    box-shadow:  0 0 0 30px var(--dark-secondary) inset !important;
    -webkit-box-shadow: 0 0 0 30px var(--dark-secondary) inset !important;
    -webkit-text-fill-color: var(--light);
}

