.dark .createPost-media-view svg{
   filter : brightness(0) invert(90%)
}

.images__grid{
    width: 100%;
    height: 100%;
 }
 .images__grid img{
    width: 100%;
    height: 160px;
    border-radius: 5px;
    object-fit: cover;
 }
 .images__grid video{
    width: 100%;
    height: 160px;
    border-radius: 5px;
    object-fit: cover;
 }
 .preview1 img , .preview1 video {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
 }
 .preview2 {
    display:flex;
    align-items: center;
    gap : 5px;
 } 
 .preview2 > div {
    width: 50%;
 }
 .preview3 {
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap : 5px;
 }
 .preview3 > div:nth-child(1) {
    grid-column: 1/3;
    object-fit: cover;
 }
 .preview4{
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap : 5px;
 }
 .preview4 > div:nth-child(1) {
    grid-column: 1/4;
    object-fit: cover;
 }
 .preview5{
    display:grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap : 5px;
 }
 .preview5 > div {
    grid-column: auto / span 2;
 }
 .preview5 > div:nth-child(1) ,
 .preview5 > div:nth-child(2){
    grid-column: auto /span 3;
 }
 .preview__odd  ,.preview__even{
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    gap : 5px;
 }
 .preview__odd > div:nth-child(1){
    grid-column: 1/3;
 }
 .images__grid > div > .remove-img{
    display: none;
 }
 .images__grid > div:hover .remove-img{
    display: flex;
    cursor: pointer;
 }
  /* .images__grid > div {
    position: relative;
 }
 .images__grid > div > span{
    position: absolute;
    bottom: 15px;
    right: 10px;
    background-color: var(--bg-pure);
    padding: 2px 10px 5px 10px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    z-index: 10;
    /* display:none; */
 /* }  */ 
 .images__grid > div:hover > span{
    display:flex;
 }
 