.swiper {
  width: 100%;
  height: 100%;
}
.dark .swiper-slide{
  background-color: var(--dark-primary);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.story-item::after{
  content : '' ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--pure);
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}
.plus-circle > svg{
  width: 65px;
  height: 65px;
}