.primary-circle-svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
.primary-circle-svg > svg{
    width: 22px;
    height: 22px;
}
.moon-icon{
    filter : brightness(0) invert(1)
}