@tailwind base;
@tailwind components;
@tailwind utilities;


.root,
#root,
#docs-root {
    --primary: #850E10;
    --primary-disable: #850e108c;
    --primary-hover: #b30f12;
    --secondary: #4D5154;
    --secondary-light: #7E7E7E;
    --grays :  rgb(187, 187, 187);
    --light:  #F6F6F6;
    --placeholder : #8B9EB0;
    --pure: #fff;
    --dark: #0d0106;
    --active : #E4C9C9;
    --dark-primary : #111111;
    --dark-secondary : #1D1D1D;
}
